<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UFT-8" />
        <title>Terracota Produtos</title>
        <link rel="sortcut icon" href="imagens/logo-nav.png" type="image/x-icon">

        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style-clientes.css">
        <link rel="stylesheet" href="css/style-menu.css">
        <link rel="stylesheet" href="css/buttons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1><img src="imagens/em-construcao.png" class="em-construcao" alt="imagem dizendo: Página em Construção"></h1>

        <header>
            <p class="pedidos">Pedidos para entregar hoje:</p>
            <p class="pedidos-resultado">8</p>
            <img class="imagem-usuario" src="imagens/foto-perfil.png" />
            <p class="nome-usuario">Andressa Araujo</p>
            <p class="sino"><i class="fas fa-bell"></i></p>
        </header>
        <nav class="logo">
            <a href="index.html"><p id="terra">Terra</p></a>
            <a href="index.html"><p id="cota">cota</p></a>
        </nav>
        <nav class="menu">
            <ul>
                <li><a href="index.html"><i class="fas fa-tachometer-alt"></i><span id="nav-lateral">Dashboard</span></a></li>
                <li><a href="clientes.html"><i class="fas fa-users"></i><span id="nav-lateral">Clientes</span></a></li>
                <li><a href="produtos.html"><i class="fas fa-boxes"></i><span id="nav-lateral">Produtos</span></a></li>
                <li><a href="vendas.html"><i class="far fa-calendar-check"></i><span id="nav-lateral">Vendas</span></a></li>
                <li><a href="financeiro.html"><i class="far fa-money-bill-alt"></i><span id="nav-lateral">Financeiro</span></a></li>
                <li><a href="configuracoes.html"><i class="fas fa-cog"></i><span id="nav-lateral">Configurações</span></a></li>
            </ul>
        </nav>
    </body>
</html>